<div class="jumbotron">

	<h2>Blackjack</h2>
	<hr>
	<div class="buttons">
		<a href="/#!rules"><button class="btnBJ" id="rules">RULES</button><br></a>

		<button class="btnBJ" id="new" ng-click="new()">NEW PLAYER</button><br>
		<button class="btnBJ" id="continue" ng-click="playerid()">PLAY</button><br>
	</div>
	<br>

	<div class="players">Lista graczy:
		<ul>
			<li ng-repeat="player in players | orderBy:'-money'">ID:{{[player.id] }} {{ player.name }} ({{ player.money | currency }}) </li>
		</ul>
	</div>
</div>
<script src="js/app.js"></script>
