<div class="jumbotron">


	<h2>Guess game</h2>

	Ilość prób: &ensp;&ensp;<input type="text" id="tries" value="5" /><br> Liczba min: &ensp;<input type="text" id="min" value="1" /><br>
	Liczba max:&ensp;<input type="text" id="max" value="6" /><br> Podpowiedz? <input type="checkbox" id="hints" /><br> 
	Cheat? <input type="checkbox" id="cheat" /><br>
	<button id="start">START</button>
	<button id="stop">STOP</button><br>
	<span class="number"></span>
	<br><br> Zgadnij: <input type="text" id="typeguess" disabled><button id="guess" disabled>ZGADUJ</button>
	<span class="triestext"></span><br>
	<span class="hinttext"></span>

</div>
<script src="js/guessgame.js"></script>
