<div class="jumbotron">
	<h2>Zasady Black Jacka</h2>
	<hr>
	<p>Blackjack – kasynowa gra karciana, w której gracz stara się pokonać krupiera poprzez uzyskanie sumy jak najbliższej 21 punktów w kartach jednak nie przekraczając 21.</p>
	
	<p>W Black Jacka gra się na 8 taliach! Wygrana = 150% stawki.</p>

	<p>Karty od dwójki do dziesiątki mają wartość równą numerowi karty. Walet, Dama i Król mają wartość równą 10 punktów. As ma wartość równą 1 lub 11, w zależności co jest lepsze dla gracza. W Blackjacka gra się przeciwko krupierowi. Gracz stawia zakład na specjalnym stole używając żetonów. Następnie gracz i krupier dostają po dwie karty. Obydwie karty gracza są odkryte, natomiast tylko jedna karta krupiera jest pokazana graczowi. Gracz teraz może podjąć decyzje o swoim następnym ruchu. Gracz ma następujące możliwości: <br>
		Dobrać kartę (hit).<br>
		Nie dobierać kart (stand).<br>
		Podwoić stawkę (double down), możliwe tylko przy pierwszych dwóch kartach, gracz wtedy dostanie tylko jedną kartę. <br><br>
		
		Przykład gry w blackjacka. Jeżeli gracz po dobraniu kart ma więcej niż 21 punktów, przegrywa zakład i krupier zabiera jego żetony. Jeżeli natomiast gracz ma 21 punktów lub mniej, krupier odkrywa swoją zakrytą kartę i w zależności od liczby jego punktów może dobrać więcej kart. Krupier musi grać według następujących przepisów: wziąć kartę, jeżeli ma 16 punktów lub mniej i nie brać więcej kart, gdy ma 17 punktów lub więcej (niezależnie, ile punktów ma gracz). Wygrywa ten, który ma sumę punktów bliższą lub równą 21. W przypadku takiej samej ilości punktów, wygrywa krupier.</p>
</div>
