body {
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: grey;
}

#container {
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

.left {
	text-align: center;
	width: 400px;
	height: 675px;
	background-color: darkgreen;
}

.right {
	width: 200px;
	height: 675px;
	background-color: darkslategrey;
	text-align: left;
	color: white;
}

.floatLeft {
	float: left;
}

.card {
	height: 150px;
	width: 100px;
	border: 1px solid transparent;
	border-color: black;
	background-color: white;
	margin-left: -50px;
}

.playercards{
	height: 152px;
}

.croupiercards{
	height: 152px;
}
