<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Black Jack </title>
	<link rel="stylesheet" href="./css/blackjackgame.css" />
	</ head>

	<body>

		<div id="container" ng-app="game" ng-controller="gameController">

			<section class="left floatLeft">
				<div class="croupier">
					<img src="./resources/croupier.png" style="width:200px;height:200px;">
					
				</div>

				<div class="croupiervalue"> <input type="text" id="cvalue" disabled style="width: 50px;"></div>

				<div class="croupiercards">
					<img src="resources/cards/back.png" class="card" id="chiddencard" >
					<img src="resources/cards/back.png" class="card" id="fillercard1" >
					<img ng-src="{{ c.image }}" class="card" ng-repeat="c in ccards">
				</div>

				<div class="bet"> <button id="betbtn" ng-click="startgame()">BET</button><input type="text" id="betvalue" style="width: 50px;"></div>

				<div class="choices">
					<button id="hit" disabled ng-click="hit()">HIT</button>
					<button id="stand" disabled ng-click="stand()">STAND</button>
					<button id="double" disabled ng-click="double()">DOUBLE</button>
				</div>

				<div class="playervalue"><input type="text" id="pvalue" disabled style="width: 50px;"> </div>

				<div class="playercards">
					<img src="resources/cards/back.png" class="card" id="fillercard2" >
					<img src="resources/cards/back.png" class="card" id="fillercard3" >
					<img ng-src="{{ c.image }}" class="card" ng-repeat="c in pcards">
				</div>

				<div class="playerinfo">Player: &ensp; <input type="text" id="pname" disabled style="width: 125px;"><br> Money: &ensp;<input type="text" id="pmoney" disabled style="width: 125px;"></div>

				<div class="endgame"><a href ="/#!/blackjack"><button id="exit" ng-click="exit()">FINISH GAME</button></a></div>

			</section>

<aside class="right floatLeft">
				<b>LOG:</b><br>
				<div class="console" ng-if="message">
					<p ng-repeat="msg in message">{{ msg }}</p>
				</div>
			</aside>

			<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
			<script src="./js/game.js"></script>
		</div>
	</body>

</html>
